{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div id="content">
        <div class="container py-5">
            <form action="{{ path('app_login') }}" method="post" class="mx-auto">

                <div class="mb-3">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mx-auto">Connexion</button>
                </div>
        
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bootstrap') }}
{% endblock %}